<section class="faq">
    
    @@if(faq === true) {
        <h1 class="faq__title title">Faq</h1>
    }

    @@if(page === true) {
        <h2 class="faq__title title">Faq</h2>
    }

    <div class="faq__inner">
        <div class="faq__inner-left">
            <div class="faq__questions">
                <button class="faq__btn btn--sale btn" type="button">Wie das lot verkaufen?</button>

                @@include('../../parts/components/_list-items.html', {
                    "class": "list-items--sale",
                    arr: [{title: 'Jede Aktion, die gegen DE-Gesetze verstößt'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Verweigerung eines Loskaufs unter der Bedingung, die Auktion zu gewinnen'}]
                })

            </div>
            <div class="faq__questions">
                <button class="faq__btn btn--buy btn" type="button">Wie das lot kaufen?</button>

                @@include('../../parts/components/_list-items.html', {
                    "class": "list-items--buy",
                    arr: [{title: 'Jede Aktion, die gegen DE-Gesetze verstößt'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Verweigerung eines Loskaufs unter der Bedingung, die Auktion zu gewinnen'}]
                })

            </div>
            <div class="faq__questions">
                <button class="faq__btn btn--services btn" type="button">Kostenpflichtige Dienste</button>

                @@include('../../parts/components/_list-items.html', {
                    "class": "list-items--services",
                    arr: [{title: 'Jede Aktion, die gegen DE-Gesetze verstößt'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Verweigerung eines Loskaufs unter der Bedingung, die Auktion zu gewinnen'}]
                })

            </div>
            <div class="faq__questions">
                <button class="faq__btn btn--block btn" type="button">Warum kann ein Künstler- oder Kundenkonto gesperrt werden?</button>

                @@include('../../parts/components/_list-items.html', {
                    "class": "list-items--block",
                    arr: [{title: 'Jede Aktion, die gegen DE-Gesetze verstößt'},
                        {title: 'Alter unter 18'},
                        {title: 'Verweigerung eines Loskaufs unter der Bedingung, die Auktion zu gewinnen'}]
                })

            </div>
            <div class="faq__questions">
                <button class="faq__btn btn--reviews btn" type="button">Warum Bewertungen erforderlich sind</button>

                @@include('../../parts/components/_list-items.html', {
                    "class": "list-items--reviews",
                    arr: [{title: 'Jede Aktion, die gegen DE-Gesetze verstößt'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Verweigerung eines Loskaufs unter der Bedingung, die Auktion zu gewinnen'}]
                })

            </div>
            <div class="faq__questions">
                <button class="faq__btn btn--register btn" type="button">So registrieren Sie sich auf der Website</button>

                @@include('../../parts/components/_list-items.html', {
                    "class": "list-items--register",
                    arr: [{title: 'Jede Aktion, die gegen DE-Gesetze verstößt'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Verweigerung eines Loskaufs unter der Bedingung, die Auktion zu gewinnen'}]
                })

            </div>
        </div>
        <div class="faq__inner-right">
            <div class="faq__questions">
                <button class="faq__btn btn--create btn" type="button">Wie erstellt man viel richtig?</button>

                @@include('../../parts/components/_list-items.html', {
                    "class": "list-items--create",
                    arr: [{title: 'Jede Aktion, die gegen DE-Gesetze verstößt'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Verweigerung eines Loskaufs unter der Bedingung, die Auktion zu gewinnen'}]
                })

            </div>
            <div class="faq__questions">
                <button class="faq__btn btn--auction btn" type="button">Wie funktioniert die Auktion?</button>

                @@include('../../parts/components/_list-items.html', {
                    "class": "list-items--auction",
                    arr: [{title: 'Jede Aktion, die gegen DE-Gesetze verstößt'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Verweigerung eines Loskaufs unter der Bedingung, die Auktion zu gewinnen'}]
                })

            </div>
            <div class="faq__questions">
                <button class="faq__btn btn--favorite btn" type="button">Wie finden Sie schnell Ihren Lieblingsartikel?</button>

                @@include('../../parts/components/_list-items.html', {
                    "class": "list-items--favorite",
                    arr: [{title: 'Jede Aktion, die gegen DE-Gesetze verstößt'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Verweigerung eines Loskaufs unter der Bedingung, die Auktion zu gewinnen'}]
                })

            </div>
            <div class="faq__questions">
                <button class="faq__btn btn--painting btn" type="button">Ist es möglich, ein Werk auf der Website nach der Farbe des Gemäldes auszuwählen?</button>

                @@include('../../parts/components/_list-items.html', {
                    "class": "list-items--painting",
                    arr: [{title: 'Jede Aktion, die gegen DE-Gesetze verstößt'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Verweigerung eines Loskaufs unter der Bedingung, die Auktion zu gewinnen'}]
                })

            </div>
            <div class="faq__questions">
                <button class="faq__btn btn--notcomesms btn" type="button">Was tun, wenn bei der Registrierung auf der Website keine SMS ankommt?</button>

                @@include('../../parts/components/_list-items.html', {
                    "class": "list-items--notcomesms",
                    arr: [{title: 'Jede Aktion, die gegen DE-Gesetze verstößt'},
                        {title: 'Alter unter 18'},
                        {title: 'Der Betrug'},
                        {title: 'Verstoß gegen die Kommunikationsregeln'},
                        {title: 'Mehrere Konten verwenden'},
                        {title: 'Künstlicher Einfluss auf Bewertungen und Rezensionen'},
                        {title: 'Verweigerung eines Loskaufs unter der Bedingung, die Auktion zu gewinnen'}]
                })

            </div>
        </div>
    </div>
</section>