<div class="filters-view">
    <button class="filters-view__btn btn active btn-grid" type="button">
        <span class="sr-only">grid</span>
        <svg width="20" height="20">
            <use xlink:href="images/sprite.svg#grid-icon"></use>
        </svg>
    </button>
    <button class="filters-view__btn btn btn-list" type="button">
        <span class="sr-only">list</span>
        <svg width="20" height="20">
            <use xlink:href="images/sprite.svg#list-icon"></use>
        </svg>
    </button>
</div>