<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__box">
                <a class="logo footer__logo" href="/">
                    <img src="images/content/logo-2.svg" alt="logo" width="170" height="45">
                </a>
                <span class="footer__copy">2020 Alle Rechte vorbehalten</span>
                <a class="footer__box-link" href="#">Datenschutz-Bestimmungen</a>
            </div>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#">über das Projekt</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="/creations.html">Katalog</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Autoren</a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#">Nutzungsbedingungen</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Garantien</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">FAQ</a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#">Nachrichten</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Für Autoren</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Kontakte</a>
                </li>
            </ul>
            
            <div class="footer__wrapper">
                <a class="footer__tel" href="tel:498924214970">+4 98 924 214 975</a>
                <ul class="social">
                    <li class="social__item">
                        <a class="social__link social__link--google" target="_blank" href="https://www.google.de/">
                            <span class="sr-only">Google</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--facebook" target="_blank" href="https://www.facebook.com/">
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--twitter" target="_blank" href="https://twitter.com/tweeter">
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link social__link--instagram" target="_blank" href="https://www.instagram.com/?hl=de">
                            <span class="sr-only">instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
