<header class="header">
    <div class="container">
        <nav class="menu">
            <a class="logo header__logo" href="/">
                <img src="images/content/logo.svg" alt="logo" width="180" height="50">
            </a> 
            <button class="menu__burger btn" type="button">
                <span class="sr-only">Öffne das Menü</span>
                <span></span>
            </button>
            <div class="menu__inner">
                <form class="menu__form" onkeydown="ESCclose(event)">
                    <label class="menu__label" for="nav-search">
                        <span class="sr-only">Suche</span>
                    </label>
                    <input class="menu__search" type="search" name="[nav]search" placeholder="Tippe um zu suchen" id="nav-search" required>
                    <button class="menu__btn btn" type="submit">
                        <span class="sr-only">Suche drücken</span>
                        <svg width="16" height="16">
                            <use xlink:href="images/sprite.svg#search-icon"></use>
                        </svg>
                    </button>
                </form>
                <ul class="menu__list">
                    <li class="menu__item menu__item--dropdown" tabindex="0">
                        <button class="menu__link" type="button">Katalog</button>
                        <span class="menu__border-bottom"></span>
                        <ul class="menu-dropdown">
                            <li class="menu-dropdown__item">
                                <a class="menu-dropdown__link" href="/creations.html">Kreationen</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a class="menu-dropdown__link" href="/news.html">Nachrichten</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a class="menu-dropdown__link" href="/about.html">Über das Projekt</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a class="menu-dropdown__link" href="/error-404.html">Error-404</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a class="menu-dropdown__link" href="#">Kategorie5</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a class="menu-dropdown__link" href="#">Kategorie6</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a class="menu-dropdown__link" href="#">Kategorie7</a>
                            </li>
                            <li class="menu-dropdown__item">
                                <a class="menu-dropdown__link" href="#">Kategorie8</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item" tabindex="0">
                        <a class="menu__link" href="/authors.html">Autoren</a>
                        <span class="menu__border-bottom"></span>
                    </li>
                    <li class="menu__item" tabindex="0">
                        <a class="menu__link" href="/error-404.html">Arbeitsplan</a>
                        <span class="menu__border-bottom"></span>
                    </li>
                </ul>
            </div>
            <div class="menu__box">
                <ul class="language-switcher">
                    <li class="language-switcher__item">
                        <button class="language-switcher__btn btn active" type="button">De</button>
                    </li>
                    <li class="language-switcher__item">
                        <button class="language-switcher__btn btn" type="button">En</button>
                    </li>
                </ul>
                <button class="menu__enter-btn btn" type="button">Eingang</button>
            </div>
        </nav>
    </div>
</header>