<article class="news-card">
    <a class="news-card__img-link" href="#">
        <div class="news-card__img-wrapper">
            <img src="@@image-url" alt="@@alt" width="263" height="160">
        </div>
    </a>
    <div class="news-card__box">
        <time class="news-card__date" datetime="2020-10-30T08:10:11+07:00">30 okt. 2020 Jr.</time>
        <h3 class="news-card__title">
            <a class="news-card__link" href="#">
                <span>@@title</span>
            </a>
        </h3>
    </div>
</article>