<div class="pagination">
    <a class="pagination__btn btn btn--red pagination__btn--prev pagination--style" href="#">
            Prev
    </a>
    <ul class="pagination__list">
        <li class="pagination__item">
            <span class="pagination__btn pagination__btn--num btn--universal btn pagination__btn--active">
                1
            </span>
        </li>
        <li class="pagination__item">
            <a class="pagination__btn pagination__btn--num btn--universal btn" href="#">
                2
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__btn pagination__btn--num btn--universal btn" href="#">
                3
            </a>
        </li>
    </ul>
    <a class="pagination__btn btn btn--red pagination__btn--next" href="#">
        Next
    </a>
</div>