<ul class="social">
    <li class="social__item social__item--google">
        <a class="social__link social__link--google" target="_blank" href="https://www.google.de/">
            <span class="sr-only">Google</span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link social__link--facebook" target="_blank" href="https://www.facebook.com/">
            <svg width="20" height="20">
                <use xlink:href="images/sprite.svg#facebook-icon"></use>
            </svg>
            <span class="sr-only">Facebook</span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link social__link--twitter" target="_blank" href="https://twitter.com/tweeter">
            <svg width="20" height="20">
                <use xlink:href="images/sprite.svg#twitter-icon"></use>
            </svg>
            <span class="sr-only">Twitter</span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link social__link--instagram" target="_blank" href="https://www.instagram.com/?hl=de">
            <svg width="20" height="20">
                <use xlink:href="images/sprite.svg#instagram-icon"></use>
            </svg>
            <span class="sr-only">instagram</span>
        </a>
    </li>
</ul>