.creations-details {

    &__inner {
        margin-bottom: 145px;
    }

    &__tabs {
        padding-bottom: 80px;

        @include r($mobile-xl) {
            padding-bottom: 50px;
        }

        @include r($mobile-md) {
            padding-bottom: 30px;
        }
    }

    &__list {
        border-top: 1px solid $gray;
        padding-top: 45px;

        @include r($mobile-md) {
            padding-top: 30px;
        }
    }

    &__item {
    
        div {
            max-width: 1110px;
            width: 100%;

            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 1.9;

                &:first-child {
                    padding-top: 5px;
                }

                &:not(:last-child) {
                    margin-bottom: 30px;

                    @include r($mobile-md) {
                        margin-bottom: 20px;;
                    }
                }
            }
        }

        &--descr {
            margin-bottom: 0;
        }

        &--charact,
        &--descr {
            display: flex;
            justify-content: space-between;

            @include r($mobile-md) {
                flex-direction: column;
                align-items: center;
            }
        }

        &--descr,
        &--charact {

            .block {
                max-width: 570px;
                width: 100%;
                margin-right: 20px;

                @include r($mobile-md) {
                    margin: 0 0 20px;
                }

                &__item {

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }

            div {
                max-width: 1000px;

                @include r($mobile-md) {
                    max-width: 600px;
                }
            }
        }

        &--guarant,
        &--delivery {
            display: flex;
            justify-content: center;

            @include r($mobile-lg) {
                flex-direction: column;
            }
            
            img {
                margin-right: 80px;

                @include r($screen-xl) {
                    margin-right: 30px;
                }

                @include r($mobile-lg) {
                    margin: 0 0 15px;
                }
            }

            div {
                max-width: 1000px;

                @include r($mobile-md) {
                    max-width: 600px;
                }

                p {
                    
                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    .author-card {
        max-width: 450px;
        width: 100%;
        padding: 5px;
        height: 100%;
        flex-direction: row;
        align-items: flex-start;
        margin-right: 20px;

        @include r($mobile-md) {
            margin: 0 0 20px;
        }

        @include r($mobile-sm) {
            flex-direction: column;
            padding: 10px 5px;
        }

        &__img-link {
            margin-right: 30px;
            height: 122px;
            max-width: 122px;
            width: 100%;

            @include r($mobile-lg) {
                margin-right: 15px;
            }

            @include r($mobile-sm) {
                margin: 0 auto 10px;
                max-width: 100%;
                height: 100%;
            }

            img {
                height: 100%;

                @include r($mobile-sm) {
                    width: 400px;
                    height: 300px;
                }
            }
        }

        &__box {
            align-items: flex-start;

            @include r($mobile-sm) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &__user {
            font-weight: 500;
            font-size: 18px;
        }

        &__link {
            margin: 0 0 auto;
            display: inline-block;
            padding: 0;
            margin-bottom: 10px;
            box-shadow: none;
            border-radius: 0;
            border-bottom: 1px solid transparent;
            transition: border-bottom-color 0.4s;

            &:focus,
            &:hover {
                color: $red;
                border-bottom-color: $black;
            }
        }
    }
}

.tabs-btns {
    display: flex;
    align-items: center;

    @include r($mobile-md) {
        justify-content: center;
    }

    @include r($mobile-sm) {
        overflow-x: auto;
        text-align: center;
        justify-content: space-between;
    }

    &::-webkit-scrollbar {
        height: 0;
    }

    &__item {

        @include r($mobile-sm) {
            margin: 0 15px;
            min-width: 150px;
        }

        &:not(:last-child) {
            margin-right: 280px;

            @include r($screen-xl) {
                margin-right: 165px;
            }

            @include r($mobile-lg) {
                margin-right: 50px;
            }

            @include r($mobile-md) {
                margin-right: 30px;
            }

            @include r($mobile-sm) {
                margin-right: 15px;
            }
        }
    }

    &__btn {
        font-weight: 600;
        font-size: 20px;
        color: $gray-500;
        transition: color 0.4s, font-weight 0.2s;

        @include r($mobile-sm) {
            width: 100%;
            color: $red;
        }

        span {
            display: block;
            position: relative;
            z-index: 5;
            top: 2px;
            margin-top: 15px;
            border: 2px solid transparent;
            border-radius: 50px;
            transition: border-color 0.4s, top 0.4s;

            @include r($mobile-sm) {
                margin-top: 5px;
            }
        }

        &:focus,
        &:hover {
            outline: transparent;

            span {
                border-color: $red;
            }
        }

        &.active {
            font-weight: 700;
            color: $gray-200;
            pointer-events: none;

            span {
                border-color: $black;
            }
        }
    }
}

.recent-watched,
.similar-paintings,
.others-creation {
    margin-bottom: 110px;

    &__title {
        margin-bottom: 10px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));

        .painting-card {
            transition: box-shadow 0.4s;

            &:hover {
                box-shadow: 3px 5px 10px -2px rgba(0, 0, 0, 0.5);
            }

            &__buy {
                box-shadow: 3px 10px 10px -2px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.others-creation {

    @include r($mobile-lg) {
        margin-bottom: 150px;
    }

    @include r($mobile-md) {
        margin-bottom: 140px;
    }
}

.similar-paintings {
    background-color: $gray-300;
    padding-bottom: 10px;
    margin-bottom: 90px;

    @include r($mobile-md) {
        margin-bottom: 70px;
    }

    &__list,
    &__title {
        position: relative;
        top: -25px;
        margin-bottom: 5px;
    }
}

.recent-watched {
    margin-bottom: 120px;
}