.descr {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding-bottom: 35px;
    margin-bottom: 175px;

    &__text {
        position: relative;
        background-color: $red;
        max-width: 1350px;
        padding: 50px 250px 50px 125px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        top: 120px;

        p {
            font-weight: 400;
            font-size: 16px;
            color: $white;
            line-height: 1.9;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    &__logo {
        position: relative;
        top: 130px;
    }
}
